
.footer {
    background-color: var(--background-durk);
    color: #fff;
    padding-top: 110px;
    padding-bottom: 40px;
    padding-left: 7vw;
    padding-right: 7vw;


    margin-top: 200px;
}

.footer__top {
    display: flex;
    gap: 40px;
}

.footer__block1 a {
    color: #EC3F10;
}



.footer__block1 h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #d4d4d4;
    margin-top: 24px; 
    width: 20vw;
}

.footer__block2, .footer__block3, .footer__block4 {
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer__block2 h3, .footer__block3 h3, .footer__block4 h3  {
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #fff;
}

.footer__block2-list a {
    color: #d4d4d4;
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

}

.footer__block2-list {
    display: flex;
    flex-direction: column;
    gap: 12px
}
















/* Subscribe */

.input-container {
    position: relative;
    display: flex;
    height: 2.8rem;
    width: 100%;
    min-width: 200px;
    max-width: 250px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
  }
  
  .input-container input {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: 1px solid  rgb(176 190 197);
    background-color: transparent;
    padding: 0.625rem 70px 0.625rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: rgb(69 90 100);
    outline: none;
    transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
  }