

    .form-container {
        background-color: rgba(255,255,255,0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        border-radius: 10px;
        width: 50vw;
        height: auto;
        align-items: center;
    }

    @media (max-width: 840px) {

      .form-container {
        width: 90vw;
        height: auto;
    }
  
  }

  @media (max-width: 500px) {

    .form {
      width: 60vw;
      height: auto;

  }

  .input-style {
    width: 60vw !important;
  }

  .slider {
    width: 60vw !important;

  }

}

    .form-container .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        color: black;
    }

    .form__title {
        color: var(--orange-color);
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        margin-top: 20px;
    }


    .form__text {
        color: #797979;
        font-weight: 300;
        text-align: center;
        margin: 20px 0 25px 0;
    }

    .form__call-time__text {
        color: var(--orange-color) !important;
        font-size: 18px;
        background: 0 0;
        text-align: center;
        margin-bottom: 5px;
    }

    .slider {
        -webkit-appearance: none;
        width: 400px;
        height: 10px;
        border-radius: 5px;
        background-color: #4158D0;
        background-image: linear-gradient(to left,rgb(230, 35, 0),rgb(255, 174, 0));
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        margin-bottom: 20px;
      }
      
      .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: black;
        /* background-image: linear-gradient(to left,rgb(230, 35, 0),rgb(255, 174, 0)); */
        cursor: pointer;
      }
      
      .slider::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #0093E9;
        /* background-image: linear-gradient(to left,rgb(230, 35, 0),rgb(255, 174, 0)); */
        cursor: pointer;
      }

      .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }


      .input-style {
        background-color: #ededed;
        border: 1px solid #cdcdcd;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        width: 400px;
        height: 34px;
        padding: 0 13px;
        margin-bottom: 17px;
        color: #797979;
        font-weight: 300;
      }
      
      .input-style:focus {
        border-color: var(--orange-color);
        background-color: white;
        box-shadow: 0 0 0 0.2rem var(--orange-color);
      }

      .textarea {
        height: auto;
      }



 