.portfolio {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 110px;
    padding-bottom: 110px;
    background-color: #313233;
    background-image: url(../images/dot_fon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}



/* ICON */

.portfolio {
    display: flex;
    justify-content: center;
    color: var(--orange-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    fill: var(--orange-color);
}

.portfolio .hero__title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/sun_orange.svg);
    background-position: center;
    background-size: cover;
    width: 15px;
    height: 15px;
}

/* TEXT */

.portfolio__title {
    font-weight: 400;
    font-size: 64px;
    line-height: 130%;
    text-align: center;
    color: var(--text-color-white);
    margin-bottom: 60px;

}



/* list */
@font-face {
    font-family: ExampleFont;
    src: url(/path/to/fonts/examplefont.woff) format('woff'),
         url(/path/to/fonts/examplefont.eot) format('eot');
    font-weight: 400;
    font-style: normal;
    font-display: block;
  }
  
.gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;

}

.list1 {
    display: flex;
    justify-content: space-around;
    image-rendering: optimizeQuality;
}

.list1 img {
    width: 548px;
    height: 374px;
    border-radius: 16px;
    cursor: pointer;
    filter: grayscale(80%);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    position: relative;
}

.list1 img::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
    left: 0;
    /* background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 
    40%, #e5e5e5 48%); */
    background-color: aqua;
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: load89234 2s infinite;

}

@keyframes load89234 {
    100% {
      background-position: -100% 0;
    }
  }

.list1 img:hover, .list1 img:focus{
    filter: none;
    transform: scale(1.05);
}

.list2 {
    display: flex;
    justify-content: space-around;
    image-rendering: optimizeQuality;
}

.list2 img {
    width: 350px;
    height: 374px;
    border-radius: 16px;
    cursor: pointer;
    filter: grayscale(80%);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.list2 img:hover, .list2 img:focus{
    filter: none;
    transform: scale(1.05);
    
}

.slideshow-container {
    display: none;
    width: 80vw;
    height: 60vh;
}


@media (max-width: 1300px) { 
    .list1 img {
        width: 40vw;
        height: 374px;
        border-radius: 16px;
        cursor: pointer;
        filter: grayscale(80%);
        transition: filter 0.3s ease;
    
        position: relative;
    }

    .list2 img {
        width: 25vw;
        height: 25vw;
        border-radius: 16px;
        cursor: pointer;
        filter: grayscale(80%);
        transition: filter 0.3s ease;
    }
    
    
}



@media (max-width: 680px) { 
    .list1 img {
         display: none;
    }

    .list2 img {
        display: none;
    }

    .slideshow-container {
        display: flex;
    }  

    .portfolio__title {
        font-weight: 400;
        font-size: 50px;
        line-height: 130%;
        text-align: center;
        color: var(--text-color-white);
        margin-bottom: 60px;
    
    }
    
    
}



/* CARD */

.swiper--container {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide {
    width: 80%;
    height: 100%;

}
.swiper--item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;

}

.swiper--item img {
   width: 100%;
   height: 100%;
}





